canvas {
  position: fixed;
  top: 0;
  left: 0;
}

body{
  margin: 0;
}

main {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

header {
  position: relative;
  background-color: rgb(7, 14, 54);
  list-style: none;
  grid-column: 1/13;
  display: inline-block;
  width: 100%;
  padding: 0px;
  margin: 0px;
  border: 0px;
}

header li {
  display: inline-block;
  height: 100%;
  margin-right: 5%;
  border-radius: 10%;
  text-decoration: none;
  font-size: 5vw;
}

header li a {
  display: inline-block;
  text-decoration: none;
  color: whitesmoke;
}

@media screen and (min-width: 1200px) {
  header li {
    font-size: 60px;
  }
}

header li:hover {
  background-color: #ddd;
}

header li a:hover {
  color: black;
}
